@using PagedList.Mvc;
@model PagedList.IPagedList<RentACar.Data.Kullanici>
@{
    ViewBag.Title = "Kullancı Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">@ViewBag.Title</header>
        <div class="panel-body">
            @if (TempData["Bilgi"] != null)
            {
                <div class="alert alert-success">@TempData["Bilgi"]</div>
            }
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ad Soyad</th>
                            <th>Email</th>
                            <th>Sifre</th>
                            <th>Rol</th>
                            <th>Kayıt Tarihi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span class="label label-success">@item.Id</span></td>
                                <td>@item.AdSoyad</td>
                                <td>@item.Email</td>
                                <td>@item.Sifre</td>
                                <td>@item.Rol.Ad</td>
                                <td>@item.KayitTarihi</td>
                                <td>
                                    <a href="@Url.Action("Sil","Kullanici", new { Id=item.Id })" class="btn btn-default btn-sm">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)
        </div>
    </div>
</div>