@model RentACar.Data.Arac
@{
    ViewBag.Title = "AracDetay";
    ViewBag.Aciklama = Model.Marka + " " + Model.Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string vitrinResim = Model.Resims.Select(x => x.ResimUrl).First();
}

<section class="r-car-info-wrapper">
    <div class="container">
        <div class="r-car-info-header clearfix">
            <div class="r-car-top-info">
                <div class="r-car-rating">
                    <h2 class="r-car-name"> @Model.Marka <span>@Model.Model</span> </h2>
                </div>
            </div>
            <div class="r-car-offer">
                <div class="r-offer-cost">
                    <span class="fa fa-turkish-lira r-currency"></span> @Model.GunlukFiyat TL<small> günlük</small>
                </div>
                <span class="r-tax-info"> KDV dahil </span>
            </div>
        </div>
        <div class="r-car-whole-info">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="r-car-product-carousel-wrapper">
                        <div class="r-car-product-carousel owl-carousel owl-loaded" id="productSlider">
                            <div class="owl-stage-outer">
                                <div class="owl-stage">
                                    <div class="owl-item active">
                                        <div class="item">
                                            <img src="@vitrinResim" alt="@vitrinResim" class="img-fluid" width="530" height="397">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="r-car-info-content">
                        <span class="r-reg-year">@Model.Yil model</span>
                        <h2 class="r-product-name"> @Model.Marka <span>@Model.Model</span> </h2>
                        <p class="r-product-description">@Model.Aciklama.</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>@Model.Kilometre km</td>
                                        <td>@Model.KoltukSayisi kişi</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Renk</td>
                                        <td>@Model.Sinif</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Vites</td>
                                        <td>@Model.Yakit</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div id="r-gallery-part">
    <div class="r-gallery-part r-gallery-part-home pt-0 pb-0">
        <ul class="clearfix">
            @foreach (var item in Model.Resims)
            {
                <li>
                    <a href="@item.ResimUrl" data-rel="lightcase:myCollection">
                        <img src="@item.ResimUrl" class="d-block img-fluid" alt="">
                        <div class="gallery-hover">
                            <div class="gallery-text">
                                <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>