@model IEnumerable<RentACar.Data.Resim>
@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="r-gallery-part" class="r-gallery-part">
    <div class="container clearfix">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@item.ResimUrl" data-rel="lightcase:myCollection">
                        <img src="@item.ResimUrl" class="d-block img-fluid" alt="" >
                        <div class="gallery-hover">
                            <div class="gallery-text">
                                <span>Model @item.Arac.Yil</span>
                                <h5><b>@item.Arac.Marka</b> @item.Arac.Model</h5>
                                <div class="icon-gallery"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>