
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<header>
    <div class="r-header r-header-inner r-header-strip-01">
        <div class="r-header-strip r-header-strip-01">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="r-logo">
                            <a href="/Home" class="d-inline-block"><img src="~/assets/esh.jpg" class="img-fluid d-block" alt="" width="100" height="35"></a>
                        </div>
                        <a href="" class="menu-icon"> <i class="fa fa-bars"></i> </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="r-header-action float-left">
                            @if (Session["MusteriId"] == null)
                            {
                                <a href="/Hesap/LoginRegister"><i class="fa fa-lock"></i><span>Giriş yap</span></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Duzenle","Hesap", new {id=(int)Session["MusteriId"]})"><i class="fa fa-user"></i><span>Profil</span></a>
                                <a href="/Hesap/LogOut"> <i class="fa fa-lock"></i><span>Çıkış</span></a>
                            }
                        </div>
                        <div class="r-nav-section float-right">
                            <nav>
                                <ul>
                                    <li>
                                        @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Hakkımızda", "Hakkimizda", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Rezervasyon", "OnlineRezarvasyon", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Araçlar", "Araclar", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Galeri", "Galeri", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("İletişim", "Iletisim", "Home", new { area = "" }, null)
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-slider owl-carousel" id="defaultHomeSlider">
            <div class="r-slider-item">
                <img src="~/assets/images/main-slider-01.jpg" class="img-fluid d-block m-auto" alt="">
                <div class="container">
                    <div class="r-slider-top-content">
                        <h1 class="animated fadeInDown">Toyota <span>Hilux</span></h1>
                        <h4 class="animated fadeInLeft">Günlük <strong>310 TL</strong> </h4>
                        <a href="/Home/AracDetay/5" class="btn btn-outlined animated fadeInUp"> İnceleyin </a>
                    </div>
                </div>
            </div>
            <div class="r-slider-item">
                <img src="~/assets/images/main-slider-04.jpg" class="img-fluid d-block m-auto" alt="">
                <div class="container">
                    <div class="r-slider-top-content">
                        <h1>Renault <span>Captur</span></h1>
                        <h4>Günlük <strong>160 TL</strong></h4>
                        <a href="/Home/AracDetay/16" class="btn btn-outlined"> İnceleyin </a>
                    </div>
                </div>
            </div>
            <div class="r-slider-item">
                <img src="~/assets/images/main-slider-05.jpg" class="img-fluid d-block m-auto" alt="">
                <div class="container">
                    <div class="r-slider-top-content">
                        <h1>Toyota <span>Yaris</span></h1>
                        <h4>Günlük <strong>255 TL</strong></h4>
                        <a href="/Home/AracDetay/21" class="btn btn-outlined"> İnceleyin </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="r-advantages-part" class="r-advantages-part">
    <div class="r-advantage-main-part r-advantage-main-part-white">
        <div class="container clearfix">
            <div class="advantage-head">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                        <span>120+ Araç</span>
                        <h2>ESH Kiralama <b>Avantajları.</b></h2>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                        <p class="r-sub-head-text">
                            Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="r-advantages-box">
                        <div class="icon"> <img src="assets/images/advantage-icon-1.png" alt=""> </div>
                        <div class="head">24/7 müşteri hizmetleri servisi</div>
                        <div class="sub-text">Bizi her zaman arayabilirsiniz.</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="r-advantages-box">
                        <div class="icon"> <img src="assets/images/advantage-icon-2.png" alt=""> </div>
                        <div class="head">Şubeye gelmeden rezervasyon</div>
                        <div class="sub-text">24/7 Online Rezervasyon</div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="r-advantages-box">
                        <div class="icon"> <img src="assets/images/advantage-icon-3.png" alt=""> </div>
                        <div class="head">Çok sayıda şube</div>
                        <div class="sub-text">250'den fazla ofis</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="r-who-royal">
    <div class="r-who-royal">
        <div class="container">
            <div class="row clearfix">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="r-about-info-content">
                        <div class="r-sec-head r-sec-head-left r-sec-head-line r-sec-head-w pt-0">
                            <span>Hakkımızda daha fazla</span>
                            <h2><b>ESH Kiralama</b> kimdir?</h2>
                        </div>
                        <p>
                            Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                        </p>
                        <ul class="mb-0 pl-0">
                            <li><i class="fa fa-check-circle"></i> 1980'den beri 4.000 müşteri ile çalışıyoruz.</li>
                            <li><i class="fa fa-check-circle"></i> Garajımızda tüm marka tipi arabalar</li>
                            <li><i class="fa fa-check-circle"></i> Türkiyenin her yerinde 250'den fazla ofis</li>
                        </ul>
                        <a href="/Home/Araclar" class="btn-primary">TÜM ARAÇLARI GÖR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="r-faq-section">
    <div class="r-faq-section r-faq-white-bg">
        <div class="container">
            <div class="row v-align-center r-faq-header-wrapper">
                <div class="col-md-8 col-sm-12">
                    <div class="r-faq-header">
                        <span>CEVAPINIZI BURADA BULUN</span>
                        <h2>Sıkça <strong>Sorulan Sorular.</strong></h2>
                    </div>
                </div>
            </div>
            <div class="row r-faq-accordion-wrapper">
                <div class="col-lg-6 col-md-12">
                    <div class="r-accordion">
                        <div class="r-accordion-heading">
                            <span class="r-accordion-toggle">
                                <i class="fa-arrow-circle-down fa"></i>
                            </span>
                            Bir araba buraya nasıl ayrılır?
                        </div>
                        <div class="r-accordion-body">
                            <p>
                                Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                            </p>
                        </div>
                    </div> <!-- /r-accordion -->
                    <div class="r-accordion">
                        <div class="r-accordion-heading">
                            <span class="r-accordion-toggle">
                                <i class="fa-arrow-circle-down fa"></i>
                            </span>
                            Kiralık arabayı nasıl bırakabilirim?
                        </div>
                        <div class="r-accordion-body">
                            <p>
                                Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                            </p>
                        </div>
                    </div> <!-- /r-accordion -->
                    <div class="r-accordion">
                        <div class="r-accordion-heading">
                            <span class="r-accordion-toggle">
                                <i class="fa-arrow-circle-down fa"></i>
                            </span>
                            Arabayı kırarsam ne olur?
                        </div>
                        <div class="r-accordion-body">
                            <p>
                                Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                            </p>
                        </div>
                    </div> <!-- /r-accordion -->
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="r-accordion">
                        <div class="r-accordion-heading">
                            <span class="r-accordion-toggle">
                                <i class="fa-arrow-circle-down fa"></i>
                            </span>
                            Araba kiralamayı nasıl seçebilirim?
                        </div>
                        <div class="r-accordion-body" style="display: none;">
                            <p>
                                Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                            </p>
                        </div>
                    </div> <!-- /r-accordion -->
                    <div class="r-accordion">
                        <div class="r-accordion-heading">
                            <span class="r-accordion-toggle">
                                <i class="fa-arrow-circle-down fa"></i>
                            </span>
                            Havaalanına VIP erişiminiz var mı?
                        </div>
                        <div class="r-accordion-body">
                            <p>
                                Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                            </p>
                        </div>
                    </div> <!-- /r-accordion -->
                    <div class="r-accordion">
                        <div class="r-accordion-heading">
                            <span class="r-accordion-toggle">
                                <i class="fa-arrow-circle-down fa"></i>
                            </span>
                            Arabayı kırarsam ne olur?
                        </div>
                        <div class="r-accordion-body">
                            <p>
                                Farkın ayrıntıda olduğunu biliyoruz ve bu yüzden araç kiralama hizmetlerimiz, turizm ve iş dünyasında.
                            </p>
                        </div>
                    </div> <!-- /r-accordion -->
                </div>
            </div>
        </div>
    </div>
</section>