@model IEnumerable<RentACar.Data.Arac>
@{
    ViewBag.Title = "Online Rezarvasyon";
    ViewBag.Aciklama = "Size en uygun aracı bulun ve kolayca rezarvasyon yapın.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="r-form-strip">
    <div class="r-slider-serach r-slider-serach-down form-search dark">
        @using (Html.BeginForm("AracBul", "Home", FormMethod.Post, new { @class = "comment-form" }))
        {
            <div class="form-title">
                <h3>Aradığınız <b>aracı</b> hemen bulun</h3>
            </div>
            <div class="row row-inputs">
                <div class="col-sm-3">
                    <div class="form-group has-icon has-label label" id="datetimepicker2" data-target-input="nearest">
                        <label>Teslim alma tarihi</label>
                        <input type="text" class="form-control datepicker" data-toggle="datetimepicker" data-target="#datetimepicker2" placeholder="dd/mm/yyyy">
                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group has-icon has-label date" id="datetimepicker3" data-target-input="nearest">
                        <label>Teslim alma saati</label>
                        <input type="text" class="form-control" data-toggle="datetimepicker" data-target="#datetimepicker3" placeholder="20:00 AM">
                        <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group has-icon has-label label" id="datetimepicker4" data-target-input="nearest">
                        <label>Teslim etme tarihi</label>
                        <input type="text" class="form-control datepicker" data-toggle="datetimepicker" data-target="#datetimepicker4" placeholder="dd/mm/yyyy">
                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group has-icon has-label date" id="datetimepicker5" data-target-input="nearest">
                        <label>Teslim etma saati</label>
                        <input type="text" class="form-control" data-toggle="datetimepicker" data-target="#datetimepicker5" placeholder="20:00 AM">
                        <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group has-icon has-label date" data-target-input="nearest">
                        <label>Araç sınıf</label>
                        @Html.DropDownList("ArabaSinif", (new List<SelectListItem>() {
                                    new SelectListItem { Text = "Ekonomik", Value = "Ekonomik" },
                                    new SelectListItem { Text = "Lüks", Value = "Lüks" },
                                    new SelectListItem { Text = "Orta", Value = "Orta" },
                                    new SelectListItem { Text = "Spor", Value = "Spor" } }), "Araba sınıfı seçin", new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group has-icon has-label date" data-target-input="nearest">
                        <label>Araç yakıt</label>
                        @Html.DropDownList("ArabaYakit", (new List<SelectListItem>() {
                                    new SelectListItem { Text = "Benzin", Value = "Benzin" },
                                    new SelectListItem { Text = "Dizel", Value = "Dizel" },
                                    new SelectListItem { Text = "Hibrit", Value = "Hibrit" } }), "Araba yakıtı seçin", new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group has-icon has-label date" data-target-input="nearest">
                        <label>Araç vites</label>
                        @Html.DropDownList("ArabaVites", (new List<SelectListItem>() {
                                    new SelectListItem { Text = "Otomatik", Value = "Otomatik" },
                                    new SelectListItem { Text = "Düz", Value = "Düz" },
                                    new SelectListItem { Text = "Düz-Otomatik", Value = "Düz-Otomatik" } }), "Araba vitesi seçin", new { @class = "form-control"})
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <hr>
                </div>
                <div class="inner col-12 clearfix">
                    <button type="submit" class="btn m-auto d-block float-right btn-full">RESERVED CAR</button>
                </div>
            </div>
        }
    </div>
</div>

@if (IsPost)
{
    <section class="r-car-showcase-wrapper">
        <div class="r-best-vehicles">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-8 col-sm-12">
                        <div class="r-car-filter-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <span class="r-filter-text">@Model.Count() sonuç gösteriliyor</span>
                                </div>
                            </div>
                        </div>
                        <div class="r-car-showcase">
                            <div class="row clearfix r-best-offer-list">
                                @foreach (var item in Model)
                                {
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="r-best-offer-single">
                                            <div class="r-best-offer-in">
                                                <div class="r-offer-img">
                                                    <a class="d-inline-block" href="#"><img src="~/assets/images/car-1.png" class="img-fluid d-block m-auto" alt=""></a>
                                                    <div class="r-offer-img-over">
                                                        <i class="fa fa-search"></i>
                                                    </div>
                                                </div>
                                                <div class="r-best-offer-content">
                                                    <a href="#"><b>@item.Marka</b> @item.Model</a>
                                                    <p>Başlayan<b>@item.GunlukFiyat USD</b> günlük</p>
                                                    <ul class="pl-0 mb-0">
                                                        <li><i class="fa fa-car"></i><span>@item.Yil</span></li>
                                                        <li><i class="fa fa-cogs"></i><span>@item.Vites</span></li>
                                                        <li><i class="fa fa-beer"></i><span>@item.Yakit</span></li>
                                                        <li><i class="fa fa-road"></i><span>@item.Kilometre km</span></li>
                                                    </ul>
                                                </div>
                                                <div class="r-offer-rewst-this">
                                                    <a href="@Url.Action("KiralamaDetay","Home", new { Id=item.Id })"><span class="text-uppercase">Bu arabayı kirala</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="r-filter-pagination-area">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <ul class="pagination">
                                        <li><a href="#">Prev</a></li>
                                        <li><a href="#">01</a></li>
                                        <li class="active"><span>02</span></li>
                                        <li><a href="#">03</a></li>
                                        <li><a href="#">04</a></li>
                                        <li><a href="#">...</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
