@model RentACar.Data.Odeme
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="MusteriId">Müşteri</label>
                            @Html.DropDownListFor(Model => Model.IslemId, new SelectList(ViewBag.Islem, "Id", "Id"), ("Seçiniz"), new { @class = "form-control", id = "IslemId" })
                        </div>
                        <div class="form-group">
                            <label for="Aciklama">Ödeme tutar</label>
                            @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control", id = "Tutar", placeholder = "Ödeme tutarı" })
                        </div>
                        <div>
                            <label for="party-time">Teslim alınma Tarihi</label>
                            <input type="datetime-local" id="TeslimAlinmaTarihi"
                                   name="TeslimAlinmaTarihi" value="@DateTime.Now" class="form-control" />
                        </div>
                        <div>
                            <label for="party-time">Ödeme Tarihi</label>
                            <input type="datetime-local" id="OdemeTarihi"
                                   name="OdemeTarihi" value="@DateTime.Now" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-default">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>