@using PagedList.Mvc;
@model PagedList.IPagedList<RentACar.Data.Odeme>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">@ViewBag.Title</header>
        <div class="panel-body">
            @if (TempData["Bilgi"] != null)
            {
                <div class="alert alert-success">@TempData["Bilgi"]</div>
            }
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>İşlem Id</th>
                            <th>Teslim alınma tarihi</th>
                            <th>Tutar</th>
                            <th>Ödeme Tarihi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span class="label label-success">@item.Id</span></td>
                                <td>@item.IslemId</td>
                                <td>@(String.Format("{0:f}", item.TeslimAlinmaTarihi))</td>
                                <td>@item.Tutar</td>
                                <td>@(String.Format("{0:f}", item.OdemeTarihi))</td>
                                <td>
                                    @Html.ActionLink("Düzenle", "Duzenle", "Odeme", new { area = "admin", Id = item.Id }, new { @class = "btn btn-default btn-sm" })
                                    @Html.ActionLink("Sil", "Sil", "Odeme", new { area = "admin", Id = item.Id }, new { @class = "btn btn-default btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)
        </div>
    </div>
</div>