<header>
    <div class="r-header r-header-inner">
        <div class="r-header-strip">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="r-logo">
                            <a href="/Home" class="d-inline-block"><img src="~/assets/images/logo.png" class="img-fluid d-block" alt=""></a>
                        </div>
                        <a href="javaScript:void(0)" class="menu-icon"> <i class="fa fa-bars"></i> </a>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="r-header-action float-right">
                            @if (Session["MusteriId"] == null)
                            {
                                <a href="/Hesap/LoginRegister"> <img src="~/assets/images/icon-lock.png" alt=""> <span>Giriş yap</span></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Duzenle","Hesap", new {id=(int)Session["MusteriId"]})"><i class="fa fa-user"></i><span>Profil</span></a>
                                <a href="/Hesap/LogOut"> <i class="fa fa-lock"> </i><span>Çıkış yap</span></a>
                            }
                        </div>
                        <div class="r-nav-section float-right">
                            <nav>
                                <ul>
                                    <li>
                                        @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Hakkımızda", "Hakkimizda", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Online Rezarvasyon", "OnlineRezarvasyon", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Araçlar", "Araclar", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Galeri", "Galeri", "Home", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("İletişim", "Iletisim", "Home", new { area = "" }, null)
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-header-inner-banner">
            <div class="r-header-in-over">
                <h1>@ViewBag.Aciklama</h1>
                <div class="r-breadcrum">
                    <ul>
                        <li><a href="/Home">ANASAYFA</a></li>
                        <li><span>@ViewBag.Title</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
