<aside id="sidebar">
    <!-- Sidebar header -->
    <header class="sidebar-header">
        <a href="#" id="make-compact"><span class="typcn typcn-th-menu"></span></a>
        <a href="#" id="hide-menu"><span class="fa fa-caret-square-o-left"></span></a>
    </header>
    <!-- /Sidebar header -->
    <!-- Sidebar group -->
    <ul class="sidebar-group">
        <li class="sidebar-group-header">MENÜ</li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="typcn typcn-home"></i> <span>Anasayfa</span></a>
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Araç Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li> @Html.ActionLink("Araç listele", "Index", "Arac") </li>
                <li> @Html.ActionLink("Araç ekle", "Ekle", "Arac") </li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Müşteri Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li>  @Html.ActionLink("Müşteri listele", "Index", "Musteri") </li>
                <li>  @Html.ActionLink("Müşteri ekle", "Ekle", "Musteri") </li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Hizmet Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li> @Html.ActionLink("Hizmet listele", "Index", "Hizmet") </li>
                <li> @Html.ActionLink("Hizmet ekle", "Ekle", "Hizmet") </li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Kiralama İşlem Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li> @Html.ActionLink("Kiralama işlemleri listele", "Index", "Islem") </li>
                <li> @Html.ActionLink("Kiralama işlemi ekle", "Ekle", "Islem") </li>
                <li> @Html.ActionLink("Geçmiş kiralama işlemleri", "GecmisIslemler", "Islem") </li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Kullanıcı Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li> @Html.ActionLink("Kullanıcı listele", "Index", "Kullanici") </li>
                <li> @Html.ActionLink("Kullanıcı ekle", "Ekle", "Kullanici") </li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Ödeme Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li> @Html.ActionLink("Ödeme listele", "Index", "Odeme") </li>
                <li> @Html.ActionLink("Ödeme ekle", "Ekle", "Odeme") </li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
    </ul>
    <!-- /Sidebar group -->
</aside>
