<aside id="sidebar">
    <!-- Sidebar header -->
    <header class="sidebar-header">
        <h1><img src="img/logo.png" alt="Saltkin"></h1>
        <a href="#" id="make-compact"><span class="typcn typcn-th-menu"></span></a>
        <a href="#" id="hide-menu"><span class="fa fa-caret-square-o-left"></span></a>
    </header>
    <!-- /Sidebar header -->
    <!-- Sidebar group -->
    <ul class="sidebar-group">
        <li class="sidebar-group-header">MENÜ</li>
        <li>
            <a href="@Url.Action("Index","Home")"><i class="typcn typcn-home"></i> <span>Anasayfa</span></a>
            <div class="sidebar-link-addon"><span class="badge bg-green">Yeni</span></div>
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Araç Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li><a href="@Url.Action("Index","Arac")">Araç listele</a></li>
                <li><a href="@Url.Action("Ekle","Arac")">Araç ekle</a></li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Müşteri Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li><a href="@Url.Action("Index","Musteri")">Müşteri listele</a></li>
                <li><a href="@Url.Action("Ekle","Musteri")">Müşteri ekle</a></li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Hizmet Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li><a href="@Url.Action("Index","Hizmet")">Hizmet listele</a></li>
                <li><a href="@Url.Action("Ekle","Hizmet")">Hizmet ekle</a></li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Kiralama İşlem Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li><a href="@Url.Action("Index","Islem")">Kiralama işlemleri listele</a></li>
                <li><a href="@Url.Action("Ekle","Islem")">Kiralama işlemi ekle</a></li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
        <li class="has-submenu">
            <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Kullanıcı Yönetimi</span></a>
            <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
            <!-- Sidebar submenu -->
            <ul class="sidebar-submenu">
                <li><a href="@Url.Action("Index","Kullanici")">Kullanıcı listele</a></li>
                <li><a href="@Url.Action("Ekle","Kullanici")">Kullanıcı ekle</a></li>
            </ul>
            <!-- /Sidebar submenu -->
        </li>
    </ul>
    <!-- /Sidebar group -->

</aside>
